<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%X{msgId}] %c - %m%n"/>
		</layout>
	</appender>
	
	<logger name="com.legalservices.laa.betaLanding2" additivity="false">
		<level value="@ccms.pui.logging.level.ccms@"/>
		<appender-ref ref="errorfile" />
		<appender-ref ref="debugfile" />
	</logger>
	
	<!-- Set level to 'debug' to output hibernate queries -->
	<logger name="org.hibernate.SQL">
    	<level value="error" />
    	<appender-ref ref="errorfile" />
		<appender-ref ref="hibernateLog" />
	</logger>

	<!-- Set level to 'trace' to output the parameter values in hibernate queries -->
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder">
    	<level value="error" />
		<appender-ref ref="hibernateLog" />
	</logger>

	<logger name="org.apache.commons.beanutils" additivity="false">
		<level value="fatal"/>
		<appender-ref ref="errorfile" />
	</logger>
	
	<root>
		<priority value="warn" />
		<appender-ref ref="stdout" />
	</root>

</log4j:configuration>
