<header role="banner" id="global-header" class="{{{ headerClass }}}">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="{{{ homepageUrl }}}" title="{{ logoLinkTitle }}" id="logo" class="content">
                    <img src="{{{ assetPath }}}images/moj_logo.bmp" width="36" height="32" alt=""> {{{ globalHeaderText }}}  
                </a>
            </div>
            {{{ insideHeader }}}
        </div>
        {{>/fragments/navigation}}
    </div>
</header>
{{{ afterHeader }}}
<div id="global-header-bar"></div>

