<div class='header-proposition'>
    <div class='content'>
        <a href='/govuk_template/' id='proposition-name'></a>
        <a role='button' href='#proposition-links' class='js-header-toggle menu' aria-controls='navigation'
           aria-label='Show or hide Top Level Navigation'>Menu</a>
        <nav id='proposition-menu'>
            <ul id='proposition-links' aria-label='Top Level Navigation'>
<!-- 
                <li><a href='https://ccms.legalservices.gov.uk/civil' class='active'>Home</a></li>
                <li><a href='https://www.gov.uk/government/organisations/legal-aid-agency'>Home</a></li>
                <li><a href='https://ccms.legalservices.gov.uk/ccms_beta'>About</a></li>
 -->
            </ul>
        </nav>
    </div>
</div>
