<div class='header-proposition'>
    <div class='content'>
        <a href='/govuk_template/' id='proposition-name'>Public Defender Service</a>
        <a role='button' href='#proposition-links' class='js-header-toggle menu' aria-controls='navigation'
           aria-label='Show or hide Top Level Navigation'>Menu</a>
        <nav id='proposition-menu'>
            <ul id='proposition-links' aria-label='Top Level Navigation'>
                <li><a href='url-to-page-1' class='active'>Home</a></li>
                <li><a href='url-to-page-2'>About</a></li>
            </ul>
        </nav>
    </div>
</div>
