{{>/fragments/pre-content}}

<main id="content" role="main">
    <h1 class="heading-small">
        Spring Boot MVC Prototype using Mustache Template and GovUK Styling Components
    </h1>

    <br>

    <div class="notice">
        <i class="icon icon-important">
            <span class="visually-hidden"></span>
        </i>
        <strong class="bold-small">
            This icon-based message makes use of govuk-element-saas and govuk_frontend_toolkit
        </strong>
    </div>

</main>

{{>/fragments/post-content}}
