{{>/fragments/pre-content}}

<main id="content" role="main">
<br>
    <h1 class="heading-small" style="font-size:27px;">
        CCMS Beta is offline
    </h1>

<!--  class="notice" -->
    <div style="width: 75%">
    
        <i class="icon icon-important">
            <span class="visually-hidden"></span>
        </i>
        
        <br>
 <!-- <strong class="bold-small"> -->       
        We have taken the Beta version of CCMS offline for a while whilst we work on some modifications. <br>
        We will be in touch to let you know when it will be available again.<br>
        In the meantime, you can still manage your certificates using the main version of <a href='https://ccms.legalservices.gov.uk/civil'>CCMS</a>.<br>
  
        <br><br>
        
        <ul style="list-style-type: none;">
        <li class="indented"><a href='https://ccms.legalservices.gov.uk/civil' class='active'>CCMS Home</a></li>
        <li class="indented"><a href='https://www.gov.uk/government/organisations/legal-aid-agency'>Legal Aid Agency</a></li>
        </ul>
        
      </div>
      
</main>

{{>/fragments/post-content}}
