{{>/fragments/pre-content}}

<main id="content" role="main">
    <h1 class="heading-small">
        CCMS Beta landing page using Mustache Template and GovUK Styling Components
    </h1>

    <br>

    <div class="notice">
        <i class="icon icon-important">
            <span class="visually-hidden"></span>
        </i>
        <strong class="bold-small">
            We have taken the Beta version of CCMS offline for a while whilst we work on some improvements. 
            We will be in touch to let you know when it will be available again.
            In the meantime, you can still manage your certificates using the main version of CCMS.
        </strong>
    </div>

</main>

{{>/fragments/post-content}}
